In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## 1. Data Overview

In [2]:
df = pd.read_csv('../../data/mimic_dataset.csv')
print(df.shape)
print(df.head())

(311780, 87)
   bloc  icustayid    timestep  gender  age  elixhauser  re_admission  \
0     1   30000153  6461579640       1   61           1         False
1     1   30000484  5239603260       1   92           4          True
2     2   30000484  5239617660       1   92           4          True
3     3   30000484  5239632060       1   92           4          True
4     4   30000484  5239646460       1   92           4          True

   died_in_hosp  died_within_48h_of_out_time  morta_90  ...  max_dose_vaso  \
0             0                        False         0  ...            0.0
1             0                        False         1  ...            0.0
2             0                        False         1  ...            0.0
3             0                        False         1  ...            0.0
4             0                        False         1  ...            0.0

   input_step  input_total  output_step  output_total  cumulated_balance  \
0         0.0      5134.69          0.0        2180.0            2954.69
1         0.0         0.00          0.0           0.0               0.00
2       250.0       250.00        360.0         360.0            -110.00
3       500.0       750.00        100.0         460.0             290.00
4       500.0      1250.00        110.0         570.0             680.00

   Shock_Index  PaO2_FiO2  SOFA  SIRS
0     0.556723   151.6670    13     1
1     0.824675   443.3330     2     3
2     1.003390   133.3330     3     4
3     0.862464    58.3333     6     1
4     0.951672    58.3333     7     2

[5 rows x 87 columns]

In [3]:
print(f"icustayid count: {df['icustayid'].nunique()}")

icustayid count: 29060

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311780 entries, 0 to 311779
Data columns (total 87 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   bloc                                        311780 non-null  int64
 1   icustayid                                   311780 non-null  int64
 2   timestep                                    311780 non-null  int64
 3   gender                                      311780 non-null  int64
 4   age                                         311780 non-null  int64
 5   elixhauser                                  311780 non-null  int64
 6   re_admission                                311780 non-null  bool
 7   died_in_hosp                                311780 non-null  int64
 8   died_within_48h_of_out_time                 311780 non-null  bool
 9   morta_90                                    311780 non-null  int64
 10  delay_end_of_record_and_discharge_or_death  311780 non-null  float64
 11  Height_cm                                   311780 non-null  float64
 12  Weight_kg                                   311780 non-null  float64
 13  GCS                                         311780 non-null  float64
 14  RASS                                        311780 non-null  float64
 15  HR                                          311780 non-null  float64
 16  SysBP                                       311780 non-null  float64
 17  MeanBP                                      311780 non-null  float64
 18  DiaBP                                       311780 non-null  float64
 19  RR                                          311780 non-null  float64
 20  SpO2                                        311780 non-null  float64
 21  Temp_C                                      311780 non-null  float64
 22  Temp_F                                      311780 non-null  float64
 23  CVP                                         311780 non-null  float64
 24  PAPsys                                      14393 non-null   float64
 25  PAPmean                                     14142 non-null   float64
 26  PAPdia                                      14401 non-null   float64
 27  CI                                          3112 non-null    float64
 28  SVR                                         0 non-null       float64
 29  Interface                                   311780 non-null  float64
 30  FiO2_100                                    311780 non-null  float64
 31  FiO2_1                                      311780 non-null  float64
 32  O2flow                                      311780 non-null  float64
 33  PEEP                                        311780 non-null  float64
 34  TidalVolume                                 311780 non-null  float64
 35  MinuteVentil                                311780 non-null  float64
 36  PAWmean                                     311780 non-null  float64
 37  PAWpeak                                     311780 non-null  float64
 38  PAWplateau                                  311780 non-null  float64
 39  Potassium                                   311780 non-null  float64
 40  Sodium                                      311780 non-null  float64
 41  Chloride                                    311780 non-null  float64
 42  Glucose                                     311780 non-null  float64
 43  BUN                                         311780 non-null  float64
 44  Creatinine                                  311780 non-null  float64
 45  Magnesium                                   311780 non-null  float64
 46  Calcium                                     311780 non-null  float64
 47  Ionised_Ca                                  311780 non-null  float64
 48  CO2_mEqL                                    311780 non-null  float64
 49  SGOT                                        311780 non-null  float64
 50  SGPT                                        311780 non-null  float64
 51  Total_bili                                  311780 non-null  float64
 52  Direct_bili                                 311780 non-null  float64
 53  Total_protein                               967 non-null     float64
 54  Albumin                                     311780 non-null  float64
 55  Troponin                                    311780 non-null  float64
 56  CRP                                         8217 non-null    float64
 57  Hb                                          311780 non-null  float64
 58  Ht                                          311780 non-null  float64
 59  RBC_count                                   311780 non-null  float64
 60  WBC_count                                   311780 non-null  float64
 61  Platelets_count                             311780 non-null  float64
 62  PTT                                         311780 non-null  float64
 63  PT                                          311780 non-null  float64
 64  ACT                                         2667 non-null    float64
 65  INR                                         311780 non-null  float64
 66  Arterial_pH                                 311780 non-null  float64
 67  paO2                                        311780 non-null  float64
 68  paCO2                                       311780 non-null  float64
 69  Arterial_BE                                 311780 non-null  float64
 70  Arterial_lactate                            311780 non-null  float64
 71  HCO3                                        311780 non-null  float64
 72  ETCO2                                       293692 non-null  float64
 73  SvO2                                        14130 non-null   float64
 74  mechvent                                    311780 non-null  int64
 75  extubated                                   311780 non-null  int64
 76  median_dose_vaso                            311780 non-null  float64
 77  max_dose_vaso                               311780 non-null  float64
 78  input_step                                  311780 non-null  float64
 79  input_total                                 311780 non-null  float64
 80  output_step                                 311780 non-null  float64
 81  output_total                                311780 non-null  float64
 82  cumulated_balance                           311780 non-null  float64
 83  Shock_Index                                 311780 non-null  float64
 84  PaO2_FiO2                                   311780 non-null  float64
 85  SOFA                                        311780 non-null  int64
 86  SIRS                                        311780 non-null  int64
dtypes: bool(2), float64(73), int64(12)
memory usage: 202.8 MB

In [5]:
df.describe()

,bloc,icustayid,timestep,gender,age,elixhauser,died_in_hosp,morta_90,delay_end_of_record_and_discharge_or_death,Height_cm,...,max_dose_vaso,input_step,input_total,output_step,output_total,cumulated_balance,Shock_Index,PaO2_FiO2,SOFA,SIRS
count,311780.000000,3.117800e+05,3.117800e+05,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,...,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000,311780.000000
mean,7.015732,3.495968e+07,5.818270e+09,0.562243,65.335198,5.053265,0.173610,0.282632,255.129365,168.304798,...,0.080975,286.359528,4768.531224,302.338679,3313.997368,1454.533869,0.766267,271.759154,5.186276,1.576076
std,4.518833,2.880636e+06,7.506581e+08,0.496112,16.443981,2.351170,0.378774,0.450280,314.885969,13.561465,...,1.253395,510.803987,6544.811275,1618.587331,6189.976443,6879.710425,0.268088,203.799519,2.890227,1.016386
min,1.000000,3.000015e+07,4.418924e+09,0.000000,18.000000,0.000000,0.000000,0.000000,-84.116700,0.000000,...,0.000000,0.000000,0.000000,-600.000000,-600.000000,-878727.000000,0.000000,-152.381000,0.000000,0.000000
25%,3.000000,3.247667e+07,5.202345e+09,0.000000,55.000000,3.000000,0.000000,0.000000,76.000000,160.020000,...,0.000000,0.000000,575.386750,60.000000,600.000000,-854.324750,0.618801,143.111000,3.000000,1.000000
50%,6.000000,3.492436e+07,5.808117e+09,1.000000,67.000000,5.000000,0.000000,0.000000,159.450000,168.000000,...,0.000000,84.039800,2850.000000,200.000000,1665.000000,642.084000,0.741312,219.048000,5.000000,2.000000
75%,10.000000,3.746190e+07,6.445775e+09,1.000000,78.000000,7.000000,0.000000,1.000000,319.883000,177.800000,...,0.000000,359.779250,6477.180000,400.000000,3694.000000,3490.322500,0.884645,336.111000,7.000000,2.000000
max,20.000000,3.999917e+07,7.717551e+09,1.000000,103.000000,14.000000,1.000000,1.000000,7378.500000,429.000000,...,359.551000,16172.100000,127197.000000,876587.000000,879437.000000,107406.000000,93.476200,2890.480000,20.000000,4.000000

In [6]:
df.isnull().sum()

bloc                 0
icustayid            0
timestep             0
gender               0
age                  0
                    ..
cumulated_balance    0
Shock_Index          0
PaO2_FiO2            0
SOFA                 0
SIRS                 0
Length: 87, dtype: int64

## 2. Data Prepareation

In this section, the data preparation process focuses on preparing ICU patient data for predicting the `died_in_hosp` column, which indicates whether a patient died in the hospital. The steps and rationale are as follows:

1. **Convert Boolean Columns to Numeric**:  
    Boolean columns are converted to numeric values to ensure compatibility with the modeling process.

2. **Filter Data for the First 24 Hours**:  
    Data is grouped by `icustayid`, and only the first 24 hours of data are retained. This step is crucial for the following reasons:
    - **Early Warning**: Enables early risk stratification, allowing clinicians to identify high-risk patients within the first day of ICU admission and take timely interventions.
    - **Avoid Time Bias and Target Leakage**: Prevents the model from learning patterns that are only evident in later stages of ICU stay, ensuring the predictions are based on early indicators rather than terminal events.
    - **Ensure Fair Comparisons**: Standardizes the data window across all patients, regardless of their ICU stay duration, ensuring that aggregated features are comparable.

3. **Rationale for Using the First 24 Hours**:  
    - Early predictions are more clinically valuable and align with real-world workflows.
    - Avoids introducing biases or learning trivial patterns related to terminal states.
    - Ensures consistent feature definitions and fair comparisons across patients.

By focusing on the first 24 hours, the data preparation process adheres to industry best practices and sets the foundation for building a early warning model.

In [7]:
bool_cols = []
for col in df.columns:
    if df[col].dtype == 'bool':
        df[col] = df[col].astype(int)

In [8]:
df_sorted = df.sort_values(['icustayid', 'timestep']).copy()

# Filter the data from the previous 24 hours of each ICU stay
first_timestamps = df_sorted.groupby('icustayid')['timestep'].transform('first')
df_sorted['time_from_admission'] = df_sorted['timestep'] - first_timestamps
HOURS_24_IN_SECONDS = 24 * 60 * 60 # # timestep(s)  24h = 24*60*60 = 86400s
df_24h = df_sorted[df_sorted['time_from_admission'] <= HOURS_24_IN_SECONDS].copy().drop(columns=['time_from_admission'])

print(f"original data row count: {len(df)}")
print(f"data row count within first 24h of each ICU stay: {len(df_24h)}")
print(f"icustayid count: {df_24h['icustayid'].nunique()}")
print(f"average rows per icustayid: {len(df_24h) / df_24h['icustayid'].nunique():.1f}")

original data row count: 311780
data row count within first 24h of each ICU stay: 182601
icustayid count: 29060
average rows per icustayid: 6.3

## 2. Feature Selection

- **Exclude target leakage variables**: The dataset description explicitly states that `delay_end_of_record_and_discharge_or_death` contains information about the outcome, and `died_within_48h_of_out_time`, `morta_90`includes information on whether the patient died within 48 hours and 90 days after leaving the ICU sepreately. These must be excluded, as they would cause the model to "peek" at the answers, making it unusable in real-world scenarios.  

- **Exclude identifiers**: `bloc`, `icustayid`, and `timestep` are identifiers or time indices and should not be used as predictive features in the model.  

- **Exclude features with high missing rates**: The description mentions that variables such as `SVR`, `CI`, `PAP`, and `SvO2` have missing rates exceeding 95%. For an initial model, the simplest approach is to directly remove these columns, as they contain too little information, and forcing imputation may introduce noise.

In [9]:
missing_rates = (df_24h.isnull().sum() / len(df_24h)).sort_values(ascending=False)
print(missing_rates[missing_rates>0])

SVR              1.000000
Total_protein    0.999409
ACT              0.992256
CI               0.991517
CRP              0.974398
SvO2             0.954086
PAPmean          0.952678
PAPsys           0.952163
PAPdia           0.952147
ETCO2            0.058269
dtype: float64

In [10]:
identifier_cols = ['bloc', 'timestep']
leak_cols = ['delay_end_of_record_and_discharge_or_death', 'died_within_48h_of_out_time', 'morta_90']
high_missing_cols = missing_rates[missing_rates > 0.95].index.tolist()
cols_to_drop = identifier_cols + leak_cols + high_missing_cols


print(f"Columns to be dropped ({len(cols_to_drop)}): ")
print(f"  - identifier: columns: {identifier_cols}")
print(f"  - leak columns: {leak_cols}")
print(f"  - high missing rate columns: {high_missing_cols}")

df_cleaned = df_24h.drop(columns=cols_to_drop)
print(f"shape of the cleaned data:: {df_cleaned.shape}")

Columns to be dropped (14):
  - identifier: columns: ['bloc', 'timestep']
  - leak columns: ['delay_end_of_record_and_discharge_or_death', 'died_within_48h_of_out_time', 'morta_90']
  - high missing rate columns: ['SVR', 'Total_protein', 'ACT', 'CI', 'CRP', 'SvO2', 'PAPmean', 'PAPsys', 'PAPdia']
shape of the cleaned data:: (182601, 73)

## 3. Variable Classification

In this section, variables are classified into three categories: static variables, dynamic continuous variables, and binary/categorical variables. This classification is essential for the subsequent feature engineering process, where different aggregation rules will be applied to each category.

### 1. Static Variables
Static variables are those that remain constant during the ICU stay. These variables typically describe patient demographics or baseline characteristics. Examples include:
- `gender`: Gender of the patient.
- `age`: Age of the patient.
- `elixhauser`: Elixhauser comorbidity index.
- `re_admission`: Whether the patient was readmitted to the ICU.
- `Height_cm`: Height of the patient in centimeters.
- `Weight_kg`: Weight of the patient in kilograms.

### 2. Binary/Categorical Variables
Binary or categorical variables represent states or events that can be either true/false or belong to a limited set of categories. Examples include:
- `mechvent`: Whether the patient was on mechanical ventilation.
- `extubated`: Whether the patient was extubated.

### 3. Dynamic Continuous Variables
Dynamic continuous variables are time-varying measurements recorded during the ICU stay. These variables are typically numeric and represent physiological or clinical measurements. Examples include:
- `HR`: Heart rate.
- `SysBP`: Systolic blood pressure.
- `MeanBP`: Mean blood pressure.
- `RR`: Respiratory rate.
- `SpO2`: Oxygen saturation.

### Purpose of Classification
The classification of variables is crucial for the feature engineering process, where different aggregation rules will be applied to each category.

In [11]:
target_col = 'died_in_hosp'

# static variables
static_vars = [
    'gender',
    'age',
    'elixhauser',
    're_admission',
    'Height_cm',
    'Weight_kg'
]


# binary/classification variables
binary_vars = [
    'mechvent',
    'extubated'
]

# dynamic variables
all_features = [col for col in df_cleaned.columns 
                if col not in ['icustayid', target_col]]
dynamic_vars = [col for col in all_features 
                if col not in static_vars and col not in binary_vars]

print(f"static variables ({len(static_vars)}): {', '.join(static_vars)}")
print(f"binary variables ({len(binary_vars)}): {', '.join(binary_vars)}")
print(f"dynamic variables ({len(dynamic_vars)}): {', '.join(dynamic_vars)}...")

static variables (6): gender, age, elixhauser, re_admission, Height_cm, Weight_kg
binary variables (2): mechvent, extubated
dynamic variables (63): GCS, RASS, HR, SysBP, MeanBP, DiaBP, RR, SpO2, Temp_C, Temp_F, CVP, Interface, FiO2_100, FiO2_1, O2flow, PEEP, TidalVolume, MinuteVentil, PAWmean, PAWpeak, PAWplateau, Potassium, Sodium, Chloride, Glucose, BUN, Creatinine, Magnesium, Calcium, Ionised_Ca, CO2_mEqL, SGOT, SGPT, Total_bili, Direct_bili, Albumin, Troponin, Hb, Ht, RBC_count, WBC_count, Platelets_count, PTT, PT, INR, Arterial_pH, paO2, paCO2, Arterial_BE, Arterial_lactate, HCO3, ETCO2, median_dose_vaso, max_dose_vaso, input_step, input_total, output_step, output_total, cumulated_balance, Shock_Index, PaO2_FiO2, SOFA, SIRS...

## 4. Feature Engineering - Aggregation of Time Series  
  
The dataset contains time-series data for each ICU stay. To convert this into a format suitable for machine learning models, the following aggregation rules were applied:

- **Static Variables**: These variables remain constant during the ICU stay (e.g., `gender`, `age`, `Height_cm`, `Weight_kg`). The first recorded value was used for aggregation. For `Height_cm` and `Weight_kg`, the mode was calculated to handle potential recording errors.
  
- **Binary/Categorical Variables**: These variables represent states or events (e.g., `mechvent`, `extubated`). Two aggregation methods were applied:
  - `mean`: Represents the proportion of time the event occurred.
  - `max`: Indicates whether the event occurred at least once.

- **Dynamic Continuous Variables**: These variables are time-varying measurements (e.g., `HR`, `SysBP`, `RR`). The following statistics were calculated:
  - `mean`: Average value over time.
  - `min`: Minimum value.
  - `max`: Maximum value.
  - `std`: Standard deviation.
  - `last`: Last recorded value.

- **Target Variable**: The target variable (`died_in_hosp`) was aggregated by taking the last recorded value.   
  
The purpose of feature engineering to transform each ICU record into a single row of data is to ensure that the data satisfies the assumption of independence and identical distribution (i.i.d.) required by models such as logistic regression. Since each `icustayid` corresponds to multiple rows of data, this transformation aggregates the time-series data into a single representation for each ICU stay.

In [12]:
# Define aggregation rules
agg_dict = {}

# static variable: Take the first value/mode
for col in static_vars:
    if col in df_cleaned.columns:
        if col in ['Height_cm', 'Weight_kg']:
            # calculate the mode (in cases where there may be recording errors)
            agg_dict[col] = lambda x: x.mode().iloc[0] if not x.mode().empty else None
        else:
            agg_dict[col] = 'first'

# binary variable: mean, max
for col in binary_vars:
    if col in df_cleaned.columns:
        agg_dict[col] = ['mean', 'max']

# dynamic variables: mean, min, max, std, last
for col in dynamic_vars:
    if col in df_cleaned.columns:
        agg_dict[col] = ['mean', 'min', 'max', 'std', 'last']

# target variable: last
agg_dict[target_col] = 'last'

In [13]:
# Perform aggregation
df_agg = df_cleaned.groupby('icustayid').agg(agg_dict)

# flatten multi-level columns
df_agg.columns = ['_'.join(col).strip('_') if isinstance(col, tuple) 
                  and col[0] not in static_vars + [target_col] 
                  else col[0]
                  for col in df_agg.columns ]

df_agg = df_agg.reset_index(drop=True)

print(f"data shape after aggregation: {df_agg.shape}")

data shape after aggregation: (29060, 326)

In [14]:
df_agg.head()

,gender,age,elixhauser,re_admission,Height_cm,Weight_kg,mechvent_mean,mechvent_max,extubated_mean,extubated_max,...,SOFA_min,SOFA_max,SOFA_std,SOFA_last,SIRS_mean,SIRS_min,SIRS_max,SIRS_std,SIRS_last,died_in_hosp
0,1,61,1,0,173.00,115.0,0.000000,0,0.0,0,...,13,13,NaN,13,1.000000,1,1,NaN,1,0
1,1,92,4,1,163.00,68.5,0.000000,0,0.0,0,...,2,8,2.225395,5,2.285714,1,4,0.951190,2,0
2,1,78,9,0,182.88,90.0,0.714286,1,0.0,0,...,5,8,0.975900,7,2.571429,2,3,0.534522,2,0
3,1,56,4,0,178.00,119.3,0.000000,0,0.0,0,...,8,9,0.534522,9,2.000000,0,3,1.000000,0,0
4,0,61,8,0,180.34,78.4,0.000000,0,0.0,0,...,9,11,0.707107,10,1.800000,1,2,0.447214,2,1

In [15]:
df_agg.to_csv('../../data/mimic_dataset_24h_aggregated.csv', index=False)